/* Write your CSS here */
.container {
  text-align: center;
  color: white;
  background-color: #07080c;
  margin: 10px;
  padding: 10px;
}
.img {
  width: 300px;
  height: 400px;
}
.heading {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.accelerate-button {
  background-color: #0b69ff;
  color: white;
  height: 40px;
  width: 80px;
  border-radius: 10px;
}
.apply-break {
  height: 40px;
  width: 80px;
  border-radius: 10px;
  color: black;
}
.buttons-container {
  display: flex;
  justify-content: center;
}
